<p>Welcome to chattt - {{userName}} !!!</p>
<button (click)="logout()" style="align-self: end;">Logout</button>
<div class="messages-container" id="messages-container">
    @for(messageItem of messages; track messageItem) {
        <div class="each-message-line" [ngClass]="{'my-message': messageItem.senderId === userId}">
            <div class="each-message-container">

                <span>
                    <span style="color: green">{{messageItem.senderId === userId ? 'You': messageItem.senderName}}</span>  
                    <small style="padding-left: 8px">{{messageItem.sentAt | date: 'dd-MMM-yy: HH:MM'}}</small>
                </span> 
                <div class="each-message-text">{{messageItem.message}}</div>
                
            </div>
        </div>
        
    }
</div>
<div class="message-input-container">
    <span>type a message</span>
    <input class="message-input" matInput [(ngModel)]="newMessage" (keyup.enter)="sendMessage(newMessage)"/>
</div>


