.messages-container {
    height: calc(100vh - 250px);
    border: 1px solid lightblue;
    padding: 16px;
    overflow-y: scroll;
    background-color: aquamarine;
}

.message-input-container {
    height: 100px;
    border: 1px solid pink;
    display: flex;
    padding: 16px;
    flex-direction: column;
    .message-input {
        margin-top: 4px;
        display: inline-block;
        padding: 8px;
    }
}

.each-message-line {
    padding: 16px 4px 16px 12px;
    display: flex;
}

.my-message {
    justify-content: end;
}

.each-message-container {
    padding: 16px;
    border: 1px solid pink;
    border-radius: 12px;
    max-width: 75%;
    background-color: white;

}

.each-message-text {
    padding-top: 8px;
}